@page "/"
@using BlazorMovieDB.Models
@inject MovieDBService MovieDBService

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-6">
            @if (movies is not null)
            {
                <h1>Popular Movies</h1>
                @foreach (var movie in movies)
                {
                    <li>@movie.Title</li>
                }
            }
        </div>
        <div class="col-6">
            @if (tVs is not null)
            {
                <h1>Popular TV Shows</h1>
                @foreach (var tv in tVs)
                {
                    <li>@tv.Name</li>
                }
            }
        </div>
    </div>
</div>

@code {

    private List<MovieResult> movies = new();
    private List<TVResults> tVs = new();
    protected override async Task OnInitializedAsync()
    {
        movies = await MovieDBService.GetMoviesAsync();
        tVs = await MovieDBService.GetTvAsync();
    }

}
