@page "/"
@using BlazorMovieDB.Models
@inject MovieDbService MovieDbService

<PageTitle>Home</PageTitle>

<div class="container-xxl py-3">
    <div class="row">
        <div class="col">
            <h1>Popular Movies</h1>
            <div class="d-flex flex-column flex-md-row justify-content-between my-3">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 g-3 justify-content-center justify-content-md-start">
                    @if (_movies is not null)
                    {
                        @foreach (var movie in _movies)
                        {
                            <div class="col">
                                <CardComponent Movie="movie"/>
                            </div>
                        }
                    }
                    else
                    {
                        @for (int i = 0; i < 10; i++)
                        {
                            <div class="col">
                                <CardComponent />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private List<Movie>? _movies = [];

    protected override async Task OnInitializedAsync()
    {
        _movies = await MovieDbService.GetMoviesAsync();
    }
}

