@page "/movie/details/{Id:long}"
@using BlazorMovieDB.Models

<PageTitle>Movie Details</PageTitle>

@if (_isLoading)
{
    <Loader />
}
<div class="container">
    @if (Details is not null)
    {
        <div class="hero-bg" style="@($"--bg-img: url(https://image.tmdb.org/t/p/original{Details.BackdropPath})")">
            <div class="hero-container">
                <div class="container-xxl d-flex flex-column flex-md-row">
                    <!-- Details content goes here -->
                    <div class="flex-grow-1 d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="title-container text-center text-md-end">
                            <h1 class="text-light">@Details.Title</h1>
                            <h2 text-light>@Details.Tagline</h2>
                                @if (Details.Genres is not null)
                                {
                                    @foreach (var genre in Details.Genres)
                                    {
                                        
                                        <span class="badge round-pill badge-light">@genre.Name</span>
                                    }
                                    
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    }
</div>

