@page "/movie/details/{Id:long}"
<PageTitle>Movie Details</PageTitle>
<h3>MovieDetails</h3>

<div class="main">
    <div class="container">
        <h3>Id = @Id</h3>
    </div>
</div>

// TODO: get the detials from new service method.