@page "/movie/details/{Id:long}"
@using BlazorMovieDB.Models
<PageTitle>Movie Details</PageTitle>
<h3>MovieDetails</h3>

<div class="main">
    <div class="container">
        <h3>Id = @Id</h3>
        @if (Details is not null)
        {
            @foreach (var genre in Details.Genres)
            {
                <ul>genre</ul>
            }
            <div class="row">
                <div class="col">@Details.Homepage</div>
                <div class="col">@Details.Video</div>
            </div>
        }
    </div>
</div>
